doctype html
html
    head
        title='Info'
        style
            include styles.css
    div(id='navbar')
        include navbar.pug
        include userlog.pug
    body
        div(class='info')
            a Argumentos de entrada 
            span #{process.argv}        
            a Nombre de la plataforma (sistema operativo) 
            span #{process.platform}        
            a Versión de node.js 
            span #{process.version}        
            a Memoria total reservada (rss) 
            span #{process.memoryUsage.rss()}        
            a Path de ejecución 
            span #{process.execPath}        
            a Process id 
            span #{process.pid}        
            a Carpeta del proyecto 
            span #{process.cwd()}        
    include footer.pug