div(id='productos')
    div(class='titulo')
        span="Listado de productos"
    div(class='productos')
        table(id='tabla' style='width:60%', border='1')
            tbody
                tr
                    th ID
                    th Nombre
                    th Precio
                    th Stock
                    th Img
            div(id='listaProductos') 
                for item in productos
                    tr
                        td(class='text') #{item.id}
                        td(class='text') #{item.name}
                        td(class='text') #{item.price}
                        td(class='text') #{item.qty}
                        td(class='img')
                            img(src=item.img)
                    