html
    head
        title='Listado de productos'
        style
            include styles.css
    include navbar.pug
    body
        h1(class='titulo')="Listado de productos"
        div(class='productos')
            for item in productos
                div(class='producto')
                    div(class='texto')
                       p
                        span(class='text')='ID: '
                        span=item.id
                       p
                        span(class='text')='Nombre: '
                        span=item.name
                       p
                        span(class='text')='Precio: '
                        span=item.price
                       p
                        span=item.qty
                        span(class='text')=' disponibles'
                    img(class='productoImg', src=item.img)
    include footer.pug